<mat-card>
  <mat-card-content>
    <div class="header">
      <P>
        {{
          !registerFormShow
            ? "Sign Into Your Account"
            : "Register Into an Account"
        }}</P
      >
    </div>
    <form
      (ngSubmit)="submitForm()"
      name="userForm"
      [formGroup]="userForm"
      *ngIf="userForm"
    >
      <div class="username-input" *ngIf="registerFormShow">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            formControlName="username"
            matInput
            type="text"
            placeholder="Enter username"
            required
          />
          <mat-error *ngIf="!userForm.controls['username'].valid">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter email address"
            required
          />
          <mat-error *ngIf="!userForm.controls['email'].valid">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            required
          />
          <span
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>
              {{ hidePassword ? "visibility_off" : "visibility" }}
            </mat-icon>
          </span>
          <mat-error *ngIf="!userForm.controls['password'].valid">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" type="submit">
        {{ !registerFormShow ? "Login" : "Register" }}
      </button>
    </form>

    <div class="button-row" (click)="registerFormShow = !registerFormShow">
      <p>{{ !registerFormShow ? "Create new Account" : "Back" }}</p>
    </div>
  </mat-card-content>
</mat-card>
