@import "/src/styles.scss";

.movs {
  height: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include desktop {
    height: 100%;
  }

  @include desktopBig {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 20px;
  }

  &__left {
    display: flex;
    flex-direction: column;

    &--amount {
      width: 40%;
      max-width: 170px;
    }
    &--list {
      width: 80vw;
      max-width: 600px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 82vw;

    @include desktop {
      flex-direction: row;
      padding-top: 80px;
    }

    &--order,
    &--send {
      width: 100%;
      max-width: 250px;
    }
  }
}
