@import "/src/styles.scss";

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include desktop {
  }

  &__top {
    padding-top: 2rem;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      width: 100vw;
      height: 45vh;
    }

    &--account {
      width: 80vw;
      max-width: 450px;
    }

    &--friends {
      width: 80vw;
      max-width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      @include desktop {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  }

  &__down {
    width: 80vw;
    max-width: 400px;
  }
}

::ng-deep .mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    align-self: flex-start;
  }
}
