<form
  name="friendForm"
  [formGroup]="friendForm"
  *ngIf="friendForm"
  class="friend-form"
>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>
  <div class="friend-form__buttons">
    <button mat-flat-button color="primary" type="submit" (click)="addFriend()">
      Add friend
    </button>
    <button mat-flat-button color="warn" type="submit" (click)="removeFriend()">
      Remove friend
    </button>
  </div>
  <p *ngIf="error !== ''">{{ error }}</p>
</form>
