/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: url("../src/assets/cool-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$breakpoint1: 800px;

$breakpoint2: 1200px;

@mixin desktop {
  @media (min-width: $breakpoint1) {
    @content;
  }
}

@mixin desktopBig {
  @media (min-width: $breakpoint2) {
    @content;
  }
}
